body {
  padding-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: white;
}
.measurments-table {
  margin-top: -20vh;
  font-size: 1.2em !important;
}
